<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tic-Tac-Toe Online</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        {% if user.is_authenticated %}
            <a href="/lobby/">Lobby</a>
            <a href="/profile/">Profile</a>  <!-- Добавляем ссылку на профиль -->
            <a href="{% url 'account_logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'account_login' %}">Login</a>
            <a href="{% url 'account_signup' %}">Sign Up</a>
        {% endif %}
    </nav>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <footer>
        <p>Tic-Tac-Toe Online © 2025</p>
    </footer>
</body>
</html>